@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

ul {
	list-style-type: none;
}

.team-area {
	position: relative;
	margin-top: 2%;
}

.team-area .inner-box {
	position: relative;
	padding: 40px 70px 28px 0px;
}

.team-area .inner-box:before {
	position: absolute;
	content: '';
	right: 0px;
	top: 0px;
	left: 70px;
	bottom: 0px;
	border-radius: 10px;
	background-color: #cdf7f4;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

.team-area .inner-box::after {
	position: absolute;
	content: '';
	top: 0px;
	left: 70px;
	bottom: 0px;
	width: 0%;
	border-radius: 10px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
	background-image: -ms-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
	background-image: -moz-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
	background-image: -o-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFEB3C), color-stop(100, #ff9600));
	background-image: -webkit-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
	background-image: linear-gradient(to bottom, #FFEB3C 0%, #ff9600 100%);
}

.team-area .inner-box:hover::after {
	width: 81%;
}

.team-area .inner-box .social-icons {
	position: absolute;
	right: 15px;
	top: 100px;
	z-index: 1;
}
.team-area .inner-box .social-list {
	position: absolute;
	right: 25px;
	top: 10px;
	z-index: 1;
	font-family: 'Roboto Mono', monospace;
}

.team-area .inner-box .social-icons li {
	position: relative;
	margin-bottom: 20px;
}

.team-area .inner-box .social-icons li a {
	position: relative;
	color: #e400e1;
	font-size: 18px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-area .inner-box:hover .lower-content p,
.team-area .inner-box:hover .social-icons li a,
.team-area .inner-box:hover .lower-content .designation {
	color: #ffffff;
}

.team-area .inner-box .image {
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background-color: #b00fd8;
	box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.20);
}
.team-area .inner-box .image img {
	position: relative;
	width: 100%;
	height: 40%; 
	display: block;
	padding: 5px;
	border-radius: 25px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	background-repeat: no-repeat;
    object-fit: cover;
	background-attachment: fixed;  
  	background-size: cover;
}

.team-area .inner-box .lower-content {
	position: relative;
	z-index: 1;
	padding: 10px 0px 0px 6px;
	width: 100%;
	left: 70px;
	margin-top: 10px;
	font-family: 'Roboto Mono', monospace;
	
}

.team-area .inner-box .lower-content p {
	position: relative;
	color: #121212;
	font-size: 18px;
	font-weight: 600;
	line-height: 0.3em;
}

.team-area .inner-box .lower-content .designation {
	margin: 0px;
	color: #0a0a01;
	font-size: 14px;
	left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team-area .inner-box .lower-content small {
	position: relative;
	margin: 0px;
	color: #00000a;
	left: 170px;
}

.team-area.style-two .inner-box .lower-content p,
.team-area.style-two .inner-box .social-icons li a {
	color: #ff9600;
}

.team-area.style-two .inner-box:hover .lower-content p,
.team-area .inner-box .lower-content:hover small ,
.team-area.style-two .inner-box:hover .social-icons li a {
	color: #ffffff;
}