@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.text-purper{
    color: purple;
}
.text-greenfer{
    color: rgb(11, 211, 167);
}

.bd-example-modal-xl .modal-dialog{
    max-width: 1200px;
    .modal-content{
        padding:1rem;
    }
}
.bd-example-modal-sm .modal-dialog{
    max-width: 400px;
    .modal-content{
        padding:1rem;
    }
}
.tr-shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}
.tr-shadow td .item {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
    border: none;
}
.tr-shadow td .item:last-child {
    margin-right: 0;
}
.tr-shadow td .item i {
    font-size: 20px;
    color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#divIDdata .tr-shadow .learn-checkbox{
    width:30px;
    height: 30px;
}
.table-responsive .table tbody .tr-shadow .set-data td.learn-checkbox{
    width:150px;
    height: 150px;
}
.table-responsive {
    padding-right: 1px;
}

.table-data2 {
    border-collapse: collapse;
    overflow: visible;
}

.table-data2.table thead th {
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: top;
    padding: 15px 40px;
    padding-right: 10px;
}

.table-data2.table thead th:first-child {
    padding-right: 0;
}

.table-data2.table tbody {
    background: #fff;
}

.table-data2.table tbody tr td:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: top;
}

.table-data2.table tbody tr td:first-child .au-checkbox {
    margin-top: 5px;
}

@media (max-width: 1199px) {
    .table-data2.table tbody tr td:first-child {
        vertical-align: middle;
    }

    .table-data2.table tbody tr td:first-child .au-checkbox {
        margin-top: 0;
    }
}

.table-data2.table tbody tr td:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 35px;
}
.table-data2.table tbody td {
    font-size: 14px;
    color: #808080;
    vertical-align: middle;
    padding: 25px 40px;
    padding-right: 10px;
    border: none;
}
.table-data2.table tbody td.desc {
    color: #4272d7;
}
.table-data2 .spacer {
    height: 5px;
    background: transparent;
}
@media (min-width: 1200px) {
    .table-responsive-data2 {
        overflow: visible;
    }
}
/* my scrollbar */
.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}