body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card {
    border-radius: 10px;
}
.student-profile .card .card-header .card-img-block{
    overflow:hidden;
}
.student-profile .card .card-header .card-img-block .img-fluid{
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.student-profile .card .card-header .card-img-body{
    position:relative;
}
.student-profile .card .card-header .card-img-body .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 8px solid rgba(255, 255, 255, 1);
    top: -82px;
    left: 45%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 50%;
    position: absolute;
}
.student-profile .card2 .card-header .img-home {
    width: 100%;
    object-fit: cover;
    margin: 20px auto;
    border: 5px solid #ccc;
    border-radius: 2%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}
.student-profile .card p {
    font-size: 16px;
    color: #000;
}
.student-profile .card .row .btn-item{
    background-color: #fffb29; /* Green */
    border: none;
    color: rgb(27, 28, 29);
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
    box-shadow: 0 2px 0 2px rgb(240, 205, 6);
}
.student-profile .card .row .btn-item:hover {
    background-color: #addb04;
}
.student-profile .card .row .btn-item:active {
    background-color: #09f811;
    box-shadow: 0 5px rgb(62, 122, 87);
    transform: translateY(4px);
}
.student-profile .card-body .table th,
.student-profile .card-body .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: rgb(83, 4, 79);
}
/* style edit image priview */
.container .wrapper{
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border:2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
	margin-bottom: 0;
}
.wrapper .active{
    border: none;
}
.wrapper:hover{
    border: 2px dashed #f50808;
}
.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .image img{
    height: 100%;
    width: 100%;
	background-repeat: no-repeat;
    object-fit: cover;
	background-attachment: fixed;  
  	background-size: cover;
}
.wrapper .icon{
    font-size: 70px;
    color: #16e5ec;
	text-align: center;
}
.wrapper .text{
    font-size: 16px;
    font-weight: 500;
    color: #585878;
	font-family: Arial, Helvetica, sans-serif;

}
input[type=text],select,select::after,option,label{ 
	font-family: Arial, Helvetica, sans-serif;
	color: #020102;
} 
.wrapper .btnCancle{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #f50808;
    display: none;
}
.wrapper.active:hover .btnCancle{
    display: block;
}
.wrapper.active .btnCancle:hover{
    color: #4b06eb;
}
.wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 12px;
	text-align: center;
    display: none;
    background: linear-gradient(135deg,#19f5b3 0%,#07c0d8 100%);
}
.wrapper.active:hover .file-name{
    display: block;
}
.container .BtnCustom{
    margin-top: 12px;
    width: 100%;
    height: 40px;
    display: block;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 17px;
    padding-top: 6px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#19f5b3 0%,#07c0d8 100%);
}


/* End */
.modal form .container .btnAddSubmit{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: block;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    padding-top: 6px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#19e6f5 0%,#9607d8 100%);
}