
.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}


.square{
	background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.ap-all{
    text-align: justify; 
    padding: 30px;
}
.square .card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.square .card-img img {
	width: 100%;
	height: 260px;
	display: block;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;  
    background-size: cover;
}

.square .card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.square .card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.square .card-desc {
	padding: 2rem;
}

.square .card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.square .card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
button.btn-card {
    text-decoration: none;
    color: #fff;
}

.card-desc .text-cut-card{
    font-size:1em;
    line-height:0.5em;
    height:2em;
    border:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-cut{
    font-size:1em;
    line-height:0.5em;
    height:2em;
    border:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    background-size: cover;
    width: 380px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pattani {
    background-color: #96ee58;
}
.yala {
    background-color: rgba(54, 162, 235, 0.2);

}
.nrathiwat {
    background-color: #f5ed0c;
}

.time-font {
    font-size: 20px;
    color: #fff;
}

.sm-font {
    font-size: 15px;
    color: #fff
}

.med-font {
    font-size: 18px;
    color: rgb(1, 1, 1)
}

.large-font {
    font-size: 30px;
    color: rgb(14, 14, 14)
}
